{% extends 'base.html' %}
{% block content %}
<form>
    <div id="todo-list">
        {% for item in tasks %}
            <p>
                <input type="checkbox" id="item{{ item.id }}" onclick="toggleCompletion({{item.id}})">
                <label for="item{{ item.id }}" ><a href="{% url 'todos:detail' item.id %}">{{ item.title }}</a></label>
                <a href="{% url 'todos:update' item.id %}">Edit</a>
                <a href="{% url 'todos:delete' item.id %}">Delete</a>
            </p>
        {% endfor %}
    </div>
</form>
{% endblock %}